{% extends 'base.html' %}
{% load static %}
{% block style %}  <link rel="stylesheet" href="{% static 'css/criar-carro.css' %}">  {% endblock %}
{% block title %} Add novo carro {% endblock %}

{% block content %}

<header>
    <h1> <a href="{% url 'index' %}">HOME</a></h1>
    <h1>{{ titulo }}</h1>
</header>

<div class="div-form">
    <form method="POST" class="formulario">
        {% csrf_token %}
        {{ form }}
        <p>{{ paragrafo }}</p>
        <button type="submit">{{ botao }}</button>
    </form>
</div>



{% endblock %}